:root {
  --background-primary: #101418;
  --background-secondary: #161A1E;
  --background-tertiary: #303438;
  --accent: #808488;
  
  --foreground-primary: rgba(255, 255, 255, 0.97);
  --foreground-muted: rgba(255, 255, 255, 0.77);
}

@font-face {
  font-family: 'Noto Sans';
  src: url('https://store.goosemod.com/NotoSans-Medium.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  
  color: var(--foreground-primary);

  user-select: none;
}

html, body {
  margin: 0;
  padding: 0;

  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

body {
  width: 250px;
  height: 400px;

  position: relative;

  background-color: var(--background-primary);
}

.tabs {
  width: 100%;
  height: 40px;
  
  z-index: 0;
  background-color: #101418;

  display: flex;

  position: relative;
}

.tab {
  background-color: var(--background-secondary);
  
  flex: 1 0 0;
  
  text-align: center;
  
  cursor: pointer;
  
  margin: 6px 12px;
  border-radius: 1em;
  
  line-height: 9px;
  padding: 10px;
  
  font-size: 14px;
  font-weight: 500;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

#tab-highlight {
  position: absolute;
  transition: left 0.3s ease-in-out, width 0.20s 0.10s, border-radius 0.20s 0.10s;

  border-radius: 1em;

  z-index: -1;

  background-color: var(--accent);
}

.tab.active {
  background-color: transparent;
  color: var(--background-primary);
  font-weight: 600;
}

.tab.active svg path {
  color: var(--background-primary);
}

#settings-tab {
  flex: 0;
  
  border-radius: 1em 0 0 1em;
  margin: 4px 0 4px 0;
  
  padding: 4px;
  padding-right: 6px;
  
  display: flex;
  align-items: center;

  margin-left: 6px;
}


.content {
  display: flex;
  flex-flow: column;
  
  width: 100%;
}

.header {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 8px;
  margin-left: 6px;
  margin-top: 6px;
}

.header:not(:first-child) {
  margin-top: 16px;
}

.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  height: 60px;
  width: 100%;

  /* background-color: var(--background-secondary); */

  padding: 4px 8px;
  padding-top: 6px;
  padding-bottom: 8px;

  border-bottom: 3px solid var(--background-tertiary);
}

.item:last-of-type {
  border-bottom: none;
}

.item-name {
  width: 80%;
  height: 100%;
  
  margin-right: 5px;

  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.item-name img {
  height: 18px;
  width: 18px;

  border-radius: 50%;

  margin-right: 2px;
}

.item-name span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-name > :first-child {
  font-size: 1.2em;
  font-weight: 500;
}

.item-name > :last-child {
  display: flex;
  align-items: center;
}

.item-name > :last-child img {
  margin-right: 6px;
}

.item-name > :last-child span {
  font-size: 1.1em;
  color: var(--foreground-muted);

  align-self: baseline;
}

.item-name > :last-child span:first-child {
  font-size: 1em;
  line-height: 1.3em;
  min-height: 2em;
  width: 100%;
  white-space: normal;
} 

.switch input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.switch.on {
  background-color: var(--accent);
}

.switch, .switch div {
  border-radius: 1em;
}

.switch {
  transition: background-color .2s;

  display: inline-block;
  font-size: 18px;
  height: 1em;
  width: 2em;
  background-color: var(--background-tertiary);

  cursor: pointer;
}

.switch div {
  margin-top: 2px;
  margin-left: 3px;

  height: calc(1em - 4px);
  width: calc(1em - 4px);
  background: #ddd;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.4);
  transition: all 300ms;
}

.switch input:checked + div {
  transform: translate3d(calc(100% + 3px), 0, 0);
}

.plugin-button, .navbar button {
  width: 28px;
  height: 28px;
  border-radius: .2rem;
  display: flex;
  align-items: center;

  border: 2px solid hsla(var(--color), 0.4);
  background-color: hsla(var(--color), 0.2);
  
  transition: border .4s, background-color .4s;

  padding: 0px;

  cursor: pointer;

  overflow: hidden;
}

.plugin-button:hover {
  background-color: hsla(var(--color), 0.4);
  border-color: hsla(var(--color), 0.6);
}

.plugin-button:active {
  background-color: hsla(var(--color), 0.6);
  border-color: hsla(var(--color), 0.8);
}

.plugin-button.add {
  --color: 139, 47.3%, 43.9%;
}

.plugin-button.remove {
  --color: 359, 82.6%, 59.4%;

  padding: 2px;
}

.plugin-button svg {
  filter: drop-shadow(0 0.1em 0.3em rgba(0, 0, 0, 0.4));
}

.navbar {
  height: 30px;
  width: calc(100% - 24px);

  margin: 6px 12px;

  display: flex;
  align-items: center;
}

.navbar input {
  height: 28px;
  width: 70%;

  flex-grow: 1;
  
  margin-right: 8px;

  background-color: var(--background-secondary);

  border-radius: .2rem;

  outline: none !important;

  border: 2px solid var(--background-tertiary);

  padding: 2px 6px;
}

.navbar input:focus {
  border-color: #505458;
}

.navbar button {
  fill: white;

  background-color: var(--background-secondary);
  border: 2px solid var(--background-tertiary);

  margin-left: 8px;
}

.navbar button:hover, .navbar button.active {
  background-color: var(--background-tertiary);
  border-color: var(--background-secondary);

  outline: none;
}

#filter-button {
  padding: 3px;
}

.popout {
  position: absolute;

  z-index: 10;

  padding: 4px 6px;

  width: 180px;

  background-color: var(--background-secondary);
  border-color: var(--background-tertiary);

  display: flex;
  flex-direction: column;

  border-radius: .2rem;
}

.popout .item {
  position: relative;

  height: 40px;
}

.popout .switch {
  width: 40px;
}

.no-host {
  display: flex;
  flex-direction: column;
  
  width: 100%;

  text-align: center;
}

.no-host div:first-child {
  background: #FD6671;
  color: var(--background-primary);

  font-weight: 600;
  font-size: 2em;

  padding: 1rem 0px;
}

.no-host div:last-child {
  padding: 18px;

  font-weight: 500;
  font-size: 1.4em;
}


/* App specific accents */
.app-accents[id="app.revolt.chat"] {
  --accent: #FD6671;
}

.app-accents[id="app.element.io"] {
  --accent: #0dbd8b;
}

.app-accents[id="www.guilded.gg"] {
  --accent: #ecb200;
}

.app-accents[id="app.slack.com"] {
  --accent: rgb(205, 37, 83);
}

.app-accents[id="teams.microsoft.com"] {
  --accent: #6264A7;
}

.app-accents[id="www.youtube.com"] {
  --accent: #ff0000;
}

.app-accents[id="www.google.com"] {
  --accent: #1a73e8;
}

.app-accents[id="github.com"] {
  --accent: #909498;
}

.app-accents[id="duckduckgo.com"] {
  --accent: #DE5833;
}

.app-accents[id="open.spotify.com"] {
  --accent: #1db954;
}