/* App specific accents */
.app-accents[id="app.revolt.chat"] {
  --accent: #FD6671;
}

.app-accents[id="app.element.io"] {
  --accent: #0dbd8b;
}

.app-accents[id="www.guilded.gg"] {
  --accent: #ecb200;
}

.app-accents[id="app.slack.com"] {
  --accent: rgb(205, 37, 83);
}

.app-accents[id="teams.microsoft.com"] {
  --accent: #6264A7;
}

:root {
  --background-primary: #101418;
  --background-secondary: #161A1E;
  --background-tertiary: #060A0E;
  --accent: #808488;
  
  --foreground-primary: rgba(255, 255, 255, 0.97);
}

@font-face {
  font-family: 'Noto Sans';
  src: url('https://store.goosemod.com/NotoSans-Medium.ttf') format('truetype');
}

* {
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
  
  color: var(--foreground-primary);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 250px;
  height: 400px;
}

body {
  background-color: var(--background-primary);
}

.tabs {
  width: 100%;
  height: 40px;
  
  display: flex;
}

.tab {
  background-color: var(--background-secondary);
  
  flex: 1 0 0;
  
  text-align: center;
  
  cursor: pointer;
  
  margin: 8px 12px;
  border-radius: 1em;
  
  line-height: 5px;
  padding: 10px;
  
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.tab.active {
  background-color: var(--accent);
  color: var(--background-primary);
}

.tab.active svg path {
  color: var(--background-primary);
}

#settings-tab {
  flex: 0;
  
  border-radius: 1em 0 0 1em;
  margin: 4px 0 4px 0;
  
  padding: 4px;
  padding-right: 6px;
  
  display: flex;
  align-items: center;

  margin-left: 6px;
}


.content {
  display: flex;
  flex-flow: column;
  
  width: 100%;
}

.header {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 12px;
  margin-left: 6px;
  margin-top: 6px;
}

.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  height: 40px;
  width: 100%;
  
  line-height: 20px;
  
  background-color: var(--background-secondary);
  
  padding: 8px;
}

.item-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  
  width: 80%;
  
  margin-right: 5px;
}

.switch input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.switch.on {
  background: var(--accent);
}

.switch, .switch div {
  border-radius: 1em;
}

.switch {
  display: inline-block;
  font-size: 18px;
  height: 1em;
  width: 2em;
  background: var(--background-tertiary);
  padding: 2px;
}

.switch div {
  margin-top: 1px;
  height: calc(1em - 5px);
  width: calc(1em - 5px);
  background: #ddd;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.4);
  transition: all 300ms;
}

.switch input:checked + div {
  transform: translate3d(calc(100% + 5px), 0, 0);
}